

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<h2>title</h2>

<a class="nav-link text-light" asp-controller="Admin" asp-action="UpdateAnime">
    Update Anime
</a>

<a class="nav-link text-light" asp-controller="Admin" asp-action="UpdateManga">
    Update Manga
</a>
