@model dynamic
@using yorokoanime.Models
@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<div class="wrapper">
    <h1>Welcome, Please login to continue...</h1>

    <form asp-action="Login" asp-controller="Login" method="post">
        <div class="form-group">
            <input type="text" asp-for="Username" class="form-control" placeholder="Please enter your username"/>
            <span asp-validation-for="Password" class="text-danger"></span><br/>

            <input type="password" asp-for="Password" class="form-control" placeholder="Please enter your password"/>
            <span asp-validation-for="Password" class="text-danger"></span><br/>

            <span class="text-danger" style="margin-top: 10px;" >@ViewBag.ErrorMessage</span><br/>

            <input class="btn btn-primary" type="submit" value="Login"/>
        </div>
    </form>
</div>