html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.anime-list {
  display: flex;
  gap: 15px;
  transition: transform 0.5s ease-in-out;
  scroll-behavior: smooth;
  padding: 10px 0;
}

.anime-item {
  max-width: 18%; /* Show 4 items in a row */
  flex: 0 0 auto;
  border: 1px solid #ddd;
  border-radius: 10px;
  overflow: hidden;
  text-align: center;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
}

.anime-item img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.carousel-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  padding: 10px 15px;
  cursor: pointer;
  font-size: 1.5rem;
  border-radius: 50%;
  z-index: 100;
  width:50px;
}

.left-btn {
  left: -20px;
}

.right-btn {
  right: -20px;
}

.carousel-btn:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

.carousel-caption{
  width: 100%;
  right:0;
  left:0;
  padding:2.5% 2.5% 2.5% 5%;
  text-align: left;
  bottom:0;
}

.banner-text{
  font-size: 0.9em;
  color: #ccc;
}

.main-card-body{
  display: flex;
  flex-direction: row-reverse;
  height: 80%;
  width: 100%;
  margin-top:5%;
}

.card{
  font-size: 0.9em;
}

.card-left{
  width: 30%;
}

.card-right{
  width: 65%;
  padding:2.5%;
}

.card-left img{
  height: 100%;
  width: 100%;
}

.card-syn{
  font-size:0.9em;
}

.pref-form{
  min-height:100px;
  margin-bottom: 15px;
}

@media (max-width: 1028px) {
  .anime-item{
    max-width: 28%;
  }

  .main-card-body{
    max-height: 60%;
    flex-direction: column;
  }
  
  .card-left, .card-right{
    width: 100%;
  }
  
  .card-user{
    font-size:0.9em;
    margin-bottom:15px; 
  }
  .card-user li{
    margin:5px;
  }
}

.card-score{
  display: flex;
  flex-direction: row;
  background-color: #fff;
  border: #272727 3px solid;
  border-radius: 1px;
  height: 100px;
  padding: 8px 10px;
  margin-bottom: 10px;
}

.card-rank{
  border-left:solid 2px #181818;
  margin-left:2.5%;
  margin-bottom:2.5%;
}

.card-rank li{
  display:inline-block;
}

.card-user{
  display: flex;
  flex-direction: row;
  background-color: #fff;
  border-radius: 1px;
  height: 68px;
  padding: 8px 10px;
}

.card-user li{
  display:inline-block;
}

.card-rank-main li{
  font-size:1.2em;
  margin-right:10px;
}

.card-sub-info li{
  border-right:#414141 1px solid;
  font-family: Avenir,lucida grande,tahoma,verdana,arial,sans-serif;
  font-size: 10px;
  margin-right: 12px;
  padding-right: 12px;
}